<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SoftEmpenios.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="SoftEmpenios.Properties.Settings.SoftEmpenios2ConnectionString"
            connectionString="Data Source=JONADAB8-LAP;Initial Catalog=SoftEmpeños2;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="SoftEmpenios.Properties.Settings.mariodzanConnectionString"
            connectionString="Data Source=JONADAB8-LAP;Initial Catalog=mariodzan;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="SoftEmpenios.Properties.Settings.SoftEmpeñosConnectionString"
            connectionString="Data Source=jonadab8-lap;Initial Catalog=SoftEmpeños;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="SoftEmpenios.Properties.Settings.CompuSoft2014ConnectionString"
            connectionString="Data Source=compusoftware.dyndns.org\evelin-pc,1433;Initial Catalog=CompuSoft2014;User ID=compusoft;Password=compu2012"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/>
  </startup><userSettings>
        <SoftEmpenios.Properties.Settings>
          <setting name="ServidorDB" serializeAs="String">
            <value />
          </setting>
          <setting name="UsuarioDB" serializeAs="String">
            <value />
          </setting>
          <setting name="ContraseniaDB" serializeAs="String">
            <value />
          </setting>
          <setting name="BasedeDatos" serializeAs="String">
            <value />
          </setting>
          <setting name="UsuarioApp" serializeAs="String">
            <value />
          </setting>
          <setting name="ContraseniaAPP" serializeAs="String">
            <value />
          </setting>
          <setting name="PermisosApp" serializeAs="String">
            <value />
          </setting>
          <setting name="EstadoSesion" serializeAs="String">
            <value />
          </setting>
          <setting name="IdUsuarioApp" serializeAs="String">
            <value>0</value>
          </setting>
          <setting name="Empresa" serializeAs="String">
            <value />
          </setting>
          <setting name="RFC" serializeAs="String">
            <value />
          </setting>
          <setting name="CURP" serializeAs="String">
            <value />
          </setting>
          <setting name="Direccion" serializeAs="String">
            <value />
          </setting>
          <setting name="RazonSocial" serializeAs="String">
            <value />
          </setting>
          <setting name="Interes" serializeAs="String">
            <value />
          </setting>
          <setting name="Prorroga" serializeAs="String">
            <value />
          </setting>
          <setting name="PorcentajeRecargo" serializeAs="String">
            <value />
          </setting>
          <setting name="Cancelaciones" serializeAs="String">
            <value>0</value>
          </setting>
          <setting name="DiasVencimiento" serializeAs="String">
            <value />
          </setting>
          <setting name="VencimientoApartado" serializeAs="String">
            <value />
          </setting>
          <setting name="ImpresoraTickets" serializeAs="String">
            <value />
          </setting>
          <setting name="ImpresoraBoletas" serializeAs="String">
            <value />
          </setting>
          <setting name="ImpresoraInteres" serializeAs="String">
            <value />
          </setting>
        </SoftEmpenios.Properties.Settings>
    </userSettings>
</configuration>
